*{
margin:0;
box-sizing:border-box;
padding:0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;

    color: #666666;
}

/* -------------HEADER ----------------------- */

li {list-style: none;}
.header__wrapper{
   height: 190px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0px 70px;
}
.seccion1{
    height: 120px;
    background-color: #fff;
    position: relative;
}
.patron__header {
    height: 20px;
   width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("./Patron__header.png");
    background-size: 35%;
    animation-name: deslizando;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
}

@keyframes deslizando{
    0%{
        background-position: 0px 0px;
    }
    100% {
        background-position: 2000px 0px;
    }
}
.seccion2{
    height: 40px;
    background-color: rgb(141, 177, 184, 0.3);
}
.header__main,
.header__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.btn__menu{
    outline: none;
    color: #666666;
    background-color: transparent;
    font-size: 28px;
    border: none;
    padding-bottom: 8px;
}
.buscarmq {
    width: 0px;
    outline: none;
    border: none;
    margin: 0 5px 0 5px;
    border-bottom: 1px solid rgb(221, 85, 89);
   transition:  width 0.5s ease-in;
}
.btn__mq2, .buscadormq {
    display: none;
}
.header__logo, .header__buscador, .header__links {
    display: flex;
    min-width: 250px;
    justify-content: center;   
}
.header__logo{
    background-color: #fff;
}
.imagen__logo{
    max-width: 250px;
}
.header__links, .lih, .header__navlink{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    text-decoration: none;
    color: #666666;
    font-size: 16px;
}
.link__Carrito{
    padding-left: 15px;
}
.fas{
    border: none;
    font-size: 25px;
    background-color: transparent;
    color: rgb(11, 76, 96)
}
.fa-search {
    color:rgb(221, 85, 89);
    padding-bottom: 5px;
}
.buscar{
    border: none;
    padding-left: 20px;
    padding-bottom: 5px;
}
.buscar:focus{
    outline: none;
}
::placeholder { color:rgb(166, 172, 166); border: none;}
.buscador{
    width: 230px;
    border-bottom: 1px solid rgb(221, 85, 89);
}
.header__list{
    justify-content: center;
    gap: 60px;
}
.header__navlink {
    font-size: 14px ;
    transition: font-size 0.3s ;
}
.header__navlink:hover {
    font-size: 16px ;
}
.seccion3{
    height:30px;
    background-color: rgb(221, 85, 89);
    color: #fff;
    text-align: center;
}
.main {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    position: relative
}
.aside__bar {
    width: 0px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow:  2px 2px 5px rgb(34, 34, 34, 0.5);
    transition: width 0.5s ease-in;
}
.sidebar__list {
    display: flex;
    flex-direction: column;
}
.sidebar__ite {
    height: 40px;
}
.sidebar__link {
    display: block;
    position: relative;
    height: 100%;
    width: 200px;
    text-decoration: none;
    font-size: 0px;
    transition: font-size 0.5s ease-in-out;
    cursor: inherit;
}
.sidebar__link > span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;   
}
.sidebar__link:after {
    display: flex;
    padding-left: 30px;
    align-items: center;
    content: attr(data-title);
    height: 100%;
    color: rgb(11, 76, 96) ; 
}
.sidebar__link > span > span {
    display: none;
    height: 40px;
    background: rgb(11, 76, 96, 0.5) ;
}
.sidebar__link:hover > span {
    width: 100%; 
}
.section__wrapper {
    height: 500px;
    width: 100%;
    background-color: #fff;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
}


/*----------------- FIN DEL HEADER --------------------- */






main{
    display: flex;
    justify-content: center;
}

.contenedor-wraper{
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.ruta-pagina{
    margin: 10px 0px;
    padding: 5px;
    text-align: left;
}

.contenedor-producto{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}

.seccion-principal{
    display: flex;
    gap: 15px;
}

.imagenes-producto{
    display: flex;

}

.contenedor-imagenes{
    display: flex;
    flex-direction: column;
 
}

.contenedor-imagenes > img{
    margin: 5px;
    padding: 10px;
    border: 1px solid #bdbbbc;
}

.imagen-principal{
    padding: 5px;
    position: relative;

}

.imagen-principal>img{
    border: 1px solid rgba(135,156,164,0.06);
    box-shadow: -1px 1px 26px 3px rgba(220,216,204,0.38) inset;
    width: 630px;
}

.card__descuento {
    background-color: red;
    color: white;
    width: 50px;
    height: 20px;
    font-size: 13px;
    position: absolute;
    top: 20px;
    left: 6px;
    text-align: end;
    padding: 2px 4px;
}


/* Parte derecha */

.atributos-producto{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 15px;
}



.input-select{
    height: 30px;
    width: 20%;
}

.talla{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cantidad{
    display: flex;
    gap: 2px;
    align-items: center;
}


/* 
Descripción del producto
 */


.descripcion-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.descripcion-detalle{
    margin-top  : 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: normal;
}




/* Sección otros productos */
.otros-productos{
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 10px;
    margin-bottom: 10px;
}

.producto-interes{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.carrusel-productos{
    display: flex;
    padding: 5px;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    
}

.card {
    border: 1px solid #f4f4f4;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card > img{
    height: 300px;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}




/* boton */
button {
    background-color: #0b4c60;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: lighter;
    transition: background-color 0.1s linear;
}

button:hover {
    background-color: #5a5a5a;
}

.btn-vermas{
    height: 50px;
    width: 320px;
    
}

.btn-agregarcarrito{
    width: 70%;
    height: 30px;
}

/* Seccion suscripcion---------- */

.seccion-suscripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 20px 0px 15px;
}

.seccion-suscripcion > figure{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.img_suscripcion{
   width: 90%;
}


.suscribete{
    font-size: 30px;
    text-align: center;
}

.input-container {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    height: 50px;
    display: flex;
}


.input-suscribete{
    border: none;
    width: calc(100% - 5px);
    outline: none;
}


.btn-subscribete{
    background-color: white;
    color: #5a5a5a;
}




@media (max-width: 1600px) {
    .imagen-principal>img{
        width: 600px;
    }
}

@media (max-width: 1500px) {
    .imagen-principal>img{
        width: 550px;
    }
}

@media (max-width: 1450px) {
    .imagen-principal>img{
        width: 550px;
    }
}


@media (max-width: 1400px) {
    .imagen-principal>img{
        width: 500px;
    }

    .card > img{
        height: 280px;
    }

    .seccion-suscripcion > figure{
        width: 90%;
    }

}


@media (max-width: 1350px) {
    .imagen-principal>img{
        width: 450px;
    }


    .seccion-suscripcion > figure{
        width: 85%;
    }

    .card > img{
        height: 275px;
    }


}

@media (max-width: 1300px) {
    .imagen-principal>img{
        width: 400px;
    }

    .card > img{
        height: 270px;
    }
}

@media (max-width: 1260px) {

    .seccion-principal{
        flex-direction: column;
        /* display: flex;
        gap: 15px; */
    }

    .imagen-principal>img{
        width: 800px;
    }

    .talla{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .cantidad{
        display: flex;
        gap: 2px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .p-cantidad{
        display: flex;
        justify-content: center;
    }

    .card > img{
        height: 250px;
    }

    .seccion-suscripcion > figure{
        width: 100%;
        height: 18px;
    }

}

@media (max-width: 978px) {
    .card > img{
        height: 200px;
    }

    .seccion-suscripcion > figure{
        width: 100%;
        overflow: hidden;
        height: 14px;
    }


}


@media (max-width: 780px) {
    .imagenes-producto{
        display: flex;
        flex-direction: column;
    }
    
    .contenedor-imagenes{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card > img{
        height: 120px;
    }
    
    .imagen-principal{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagen-principal>img{
        width: 650px;
    }

    .seccion-suscripcion > figure{
        width: 80%;
        overflow: hidden;
    }

    .img_suscripcion{
        height: 10px;
    }

    .carrusel-productos{
        flex-wrap: wrap;
    }
}


@media (max-width:500px) {
    .imagen-principal>img{
        width: 450px;
    
    }

    .card > img{
        height: 120px;
    }

    .seccion-suscripcion > figure{
        width: 80%;
        overflow: hidden;
    }

    .img_suscripcion{
        height: 10px;
        width: 400px;
    }



    }
     /*  --------------------------------  */
    
    
/* ------------MEDIA HEADER ---------------- */

@media (max-width:978px) {
    .header__wrapper {
        height: 50px;
        padding: 0px 10px;
    }
    .patron__header{
        display: none
    }
    .imagen__logo{
        max-height: 40px;
        padding-top: 4px;
    }
    .header__buscador, .seccion2, .seccion3, .mc{
        display: none;
    }
    .header__logo, .header__links, .btn__mq2 {
        min-width: 150px;
    }
    .fas{
        font-size: 20px;
    }
    .car{
        color: #fff;
        font-size: 13px;
    }
    .car__div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #666666; ;
        border-radius: 50% ;
        width: 18px ;
        height: 18px ;
        margin-bottom: 20px;
    }
    .aside__bar.open{
        width:200px;
    }
    .aside__bar.open  .sidebar__link  {
        font-size: 15px;
        cursor: pointer;
    }
    .aside__bar.open .sidebar__link > span > span{
        display: block;
    }
    .btn__mq2, .buscadormq, .buscarmq {
        display: unset;
    }
    .fa-search{
        padding-left: 15px;
        color: #666666;
    }
    .btn__mq2{
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 180px
    }
    .buscarmq.open-mobile {
        width: 95px;
    }
}
    @media (max-width:480px) {
        .header__logo, .header__links, .btn__mq2 {
            min-width: 100px;
        }
    }
    

    
